
<% create_enabled ||= false %>

<form>
<table class="list issues">
<%
        can_delete = tracker_type == Testit::Setting::TestCaseTrackerType && view == :test_run_list ?  create_enabled && testit_relations.size > 1 : create_enabled 
p "========================== #{can_delete}"
%>
<% testit_relations.each do |relation| %>
  <% other_issue = relation.other_issue(@issue) -%>
    <tr class="issue hascontextmenu" id="relation-<%= relation.id %>">
      <td class="subject" style="width: 50%">
        <%= relation.to_s(@issue) {|other| link_to_issue(other, :project => Setting.cross_project_issue_relations?)}.html_safe %>
      </td>
      <td class="status"><%= other_issue.status.name %></td>
      <td class="start_date"><%= format_date(other_issue.start_date) %></td>
      <td class="due_date"><%= format_date(other_issue.due_date) %></td>
      <% if add_enabled %>
          <td class="buttons"><%= link_to image_tag('link_break.png'),
          url_for(:controller => 'testit_relations', :action => 'destroy', :id => relation, :issue_id => @issue, :project_id => @project),
                      :remote => true,
                      :method => :delete,
                      :data => {:confirm => l(:text_are_you_sure)},
                      :title => l(:label_relation_delete) if User.current.allowed_to?(:manage_issue_relations, @project) %></td>
      <% end %>
    
      <%# TODO XXX %>
      <% if can_delete %>
          <td class="buttons"><%= link_to_function image_tag('delete.png'),
              "deleteTCTR('#{url_for(:controller => 'testit_tests', 
                             :action => 'destroy_tr', :id => relation, 
                             :issue_id => @issue, :project_id => @project)}', '#{l(:text_are_you_sure)}');",
              :title => l(:label_relation_delete) if User.current.allowed_to?(:manage_issue_relations, @project) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</form>

