<%# 
   generic partial for add x testit relation
   a query com os issues possiveis de adicionar 
   vem inicializada do controlador
%>

<span id="dialog-title" style="display:none"><%=title%></span>


    <%= render :partial => 'testit_relations/query', :locals => {:query => @query, :issues => @issues, 
                                                           :query_form_id => 'rel-query-form',
                                                           :query_submit_url => query_submit_url,
                                                           :query_list_dest_id => 'testit-dialog' } %>

<%= form_for @testit_relation, :url => { :controller => :testit_relations, :action => :create, :issue => @issue, :relation_type => @relation_type, :issue_from => @issue}, 
    :html => { :id => "testit-relation-form", :multipart => true, :title => title} do |f| %>

    <%= hidden_field_tag 'issue', @issue.id %>
    <%= hidden_field_tag 'selected_issues',  @testit_relations %>

       
    <%= render :partial => 'testit_relations/issue_list', :locals => {:issues => @issues, :query => @query,
                                                                      :query_submit_url => query_submit_url}%>

    <%= submit_tag l(:button_create), :name => nil, :onclick => "createRelation('rel-table-issue-list','#{@issue.id}', '#{@relation_type}','#{@op}');",  :type => 'button'  %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>

<%end%>

