<span id="dialog-title" style="display:none"><%#=l(:title_create_test_case)%>Add testit relation</span>


<%= form_for @testit_relation, :url => { :controller => :testit_relations, :action => :create, :issue => @issue}, 
    :html => { :id => "testit-relation-form", :multipart => true, :title => l(:title_create_test_case)} do |f| %>

    <%= hidden_field_tag 'issue', @issue.id %>

    <div id="issue-list">
        <%= render :partial => 'testit_common/issue_list', :locals => {:issues => @issues, :query => @query} %>
    </div>

    <%= submit_tag l(:button_create), :name => nil, :onclick => "createRelation('table-issue-list');",  :type => 'button'  %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>

<%end%>

