
<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'testit', :plugin => 'testit' %>
    <%= javascript_include_tag 'attachments' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'context_menu' %>
    <% heads_for_wiki_formatter %>
<% end %>
<% include_calendar_headers_tags %>

<% html_title "TestIt" %>
<%= render :partial => 'testit_common/js'%>

<!-- Creating plugin inner tabs -->
<%= render :partial => 'testit/tabs', :locals => { :tabs => get_testit_tabs(@project) } %>


<% content_for :sidebar do %>
<% end%>
<div id="testsuite-dialog" style="display:none"></div>
<div id="testit-dialog" style="display:none"></div>
<div id="testit-error" style="display:none" class="error-message"></div>


