<%# Issue list query filters and table %>

 <div class="contextual">
     <% if !@query.new_record? && @query.editable_by?(User.current) %>
         <%= link_to l(:button_edit), edit_query_path(@query), :class => 'icon icon-edit' %>
         <%= delete_link query_path(@query) %>
     <% end %>
 </div>

 <h2><%= @query.new_record? ? title : @query.name %></h2>
 <%= render :partial => 'testit_issues/query', :locals => {:query => @query, :issues => @issues} %>

 <% if @query.valid? %>
    <% if @issues.empty? %>
       <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
        <%= render_query_totals(@query) %>
       <%= render :partial => 'testit_issues/list', :locals => {:issues => @issues, :query => @query} %>
       <%# TODO XXX fix pagination. definido num modulo dentro de lib/redmine/pagination.rb ... %>
       <% 
           x=pagination_links_full @issue_pages, @issue_count
           x.gsub!( /href=\"(.*?)\"/,'href="#" onclick="loadIssueListbyUrl(\'\1\');"')
       %>
       <span class="pagination"><%=raw x%></span>
    <% end %>

    <%= render :partial => 'testit_issues/other_formats', :locals => {:query => @query, :available_formats => ['CSV', 'PDF']} %>

<% end %>
