
<%= render :partial => 'testit_common/action_menu' %>

<h2><%= issue_heading(@issue) %></h2>

<%# Test run %>
<div class="<%= @issue.css_classes %> details">

  <%#= avatar(@issue.author, :size => "50") %>

<div class="contextual">
    <%= link_to_function l(:button_run_test), "editIssue('#{url_for_testit_issue(:issue_id => @issue.id, :tracker_id => @issue.tracker_id, :action => 'run')}',this)", :class => 'icon icon-test' if @issue.editable? %>
</div>

  <div class="subject">
      <% testit_relations = @issue.testit_relations.select {|r| r.relation_type =~ /tc_has_tr|tr_part_of_tc/} %>
      <% testit_relations.each do  |relation | %> 
          <p><%= relation.to_s(@issue) {|other| link_to_issue(other, :project => Setting.cross_project_issue_relations?)}.html_safe %></p>
      <% end %>
  </div>
  <p class="author">
     <%= authoring @issue.created_on, @issue.author %>.
     <% if @issue.created_on != @issue.updated_on %>
          <%= l(:label_updated_time, time_tag(@issue.updated_on)).html_safe %>.
     <% end %>
  </p> 
  <div class="attributes">
    <%= issue_fields_rows do |rows|
        rows.left l(:field_status), @issue.status.name, :class => 'status'

        unless @issue.disabled_core_fields.include?('updated_on')
            rows.right l(:field_updated_on), format_time(@issue.updated_on).html_safe, :class => 'updated_on'
        end
        if User.current.allowed_to_view_all_time_entries?(@project)
          if @issue.total_spent_hours > 0
            rows.right l(:label_spent_time), issue_spent_hours_details(@issue), :class => 'spent-time'
          end
        end
    end %>
  </div>
  <% if @issue.description? || @issue.attachments.any? -%>
    <hr />
    <% if @issue.description? %>
        <div class="description">
            <p><strong><%=l(:field_description)%></strong></p>
            <div class="wiki">
            <%= textilizable @issue, :description, :attachments => @issue.attachments %>
            </div>
        </div>
    <% end %>
    <%= link_to_attachments @issue, :thumbnails => true %>
  <% end -%>

  <%# TODO tabela com as execucoes %>

<% if @journals.present? %>
    <div id="history">
        <h3><%=l(:label_execution_history)%></h3>
        <%= render :partial => 'testit_runs/history', :locals => { :issue => @issue, :journals => @journals } %>
    </div>
<% end %>


</div>
  <hr />
  <%# 
    Test case list 
  %>
  <%= render :partial => 'testit_runs/show_tests', :locals => {
      :testit_relations => @issue.testit_relations.select {|r| r.relation_type =~ /tc_has_tr|tr_part_of_tc/},
      :issue => @issue,
      :add_relation_action => false, 
      :title => l(:title_testit_tests),
      :tracker_type => false
  }%>


<%= render :partial => 'testit_common/other_formats', :locals => {:query => @query, :available_formats => ['Atom', 'PDF']} %>

